.mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

b {
  color: orange;
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

calcite-action-bar {
  --calcite-color-border-3: #555555;
  --calcite-color-text-3: #bfbfbf;
}

calcite-shell {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-text-1: #ffffff;
  --calcite-color-background: #2b2b2b;
  --calcite-color-border-3: #555555;
}

/* Utility Chart Panel */
.lotNumberImage {
  display: flex;
  padding-left: 20px;
}

/* Header */
.headerTitle {
  color: white;
  margin-left: 1rem;
  font-size: 1.4rem;
  margin-top: auto;
  margin-bottom: auto;
}

.date {
  color: rgb(220, 220, 220);
  font-size: 0.8rem;
  width: 200px;
  height: 20px;
  margin-top: auto;
  margin-left: auto;
}

.dropdownFilterLayout {
  display: flex;
  flex-direction: row;
  margin: auto;
  position: relative;
  z-index: 2;
}

/* total Progress */

/* Information panel */
.informationDiv {
  padding-right: 10px;
}
